/* Common Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.font-style {
    font-family: 'Poppins', sans-serif;
}

.font-color {
    color: #4A4A4A;
}

.font-color-paragraph {
    color: #777777;
}

.common-color {
    background-color: #289BDE;
    border: none;
    padding: 9px 25px;
}

.price-color {
    color: #289BDE;
}