/* Common Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.font-style {
    font-family: 'Poppins', sans-serif;
}

.big-font-color {
    color: #4A4A4A;
}

.small-font-color {
    color: #777777;
}

.button-color {
    background-color: #289BDE;
    border: none;
    padding: 9px 25px;
}

.cost-color {
    color: #289BDE;
}

.banner-shadow {
    filter: brightness(40%);
}

.banner-resize {
    height: 100vh;
    object-fit: cover;
}

.footer-background {
    background-color: #161616;
}

.social-icon {
    color: white;
    font-size: 20px;
    padding: 0 .5rem;
}